#background
{
    font-size: 15px;
    background-color: rebeccapurple;
    color: white;
    margin: auto;
    margin-left: 600px;
    margin-top: 300px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}